<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="navbar" id="myTopnav">
		<a routerLink="views/home"><i class="fa fa-fw fa-home"></i>Home</a>
		<a routerLink="views/whiskey-inventory">Whiskey Inventory</a>
		<a routerLink="views/contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
		<a routerLink="views/about">About</a>
		<a routerLink="views/login" class="login"><i class="fa fa-fw fa-user"></i> Login</a>
		<a href="javascript:void(0);" class="icon" (click)="showHamburgermenu()"><i class="fa fa-bars"></i></a>
	</div>
</body>
</html>