<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>Alingsås Whiskey Society</h1>
        <br />
        <p>
            Alingsås Whiskey Society is a group of passionate whiskey drinkers
            with a goal to create a platform where anyone like-minded is
            welcome.
        </p>
        <p>
            Our main way for reaching this goal is by hosting group gatherings.
            These events occur around the Alingsås area, for further details
            please check the home page for any upcoming events.
        </p>
    </body>
</html>
